body {
  margin: 10px;
  color: blue;
  font-family: 'Helvetica';
  opacity: .85;
}

h1 {
 font-size: 40px;
 font-weight: bold;
 margin-bottom: 10px;
}

h2 {
  font-size: 33px;
  margin-top: 25px;
  margin-bottom: 5px;
  color: rgb(70, 221, 209);
}

li {
  color: blueviolet;
  padding:5px;
  margin-left: 13px;
  list-style-position: inside;
}